---
// Define the props expected by the ProjectSummary component
interface ProjectSummaryProps {
  project: {
    slug: string;
    data: {
      title: string;
      summary: string;
      thumbnail: string;
    };
  };
}
const { project } = Astro.props as ProjectSummaryProps;
---


<li class="project-summary">
  <img src={project.data.thumbnail} alt={`Thumbnail for ${project.data.title}`} />
  <div>
    <a href={`/projects/${project.slug}`}>
      <h4>{project.data.title}</h4>
    </a>
    <p>{project.data.summary}</p>
  </div>
</li>



<style>
</style>