---
// Define the props expected by the ProjectSummary component


const { project } = Astro.props;
console.log(project)
---


<li class="project-summary">
  <img src={project.data.thumbnail} alt={`Thumbnail for ${project.data.title}`} />
  <div>
    <a href={`/projects/${project.slug}`}>
      <h4>{project.data.title}</h4>
    </a>
    <p>{project.data.summary}</p>
  </div>
</li>



<style>
  li {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
</style>